version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/incidentdb
      - SPRING_DATASOURCE_USERNAME=incidentdb_user
      - SPRING_DATASOURCE_PASSWORD=vicky2104
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=incidentdb
      - POSTGRES_USER=incidentdb_user
      - POSTGRES_PASSWORD=vicky2104
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: